body {
    display: flex;
    width: 1345px;
    background-color: rgb(219, 222, 231);
    
}

.imagem-perfil {
    flex-flow: column-reverse;
    align-items: flex-start;
    width: 65px;
    height: 50px;
    margin-top: 5px;
}

.nome {
    display: flex;
    align-items: center;
    width: 100px;
    height: 45px;
    margin-left: 5px;
    margin-top: 5px;
}

.cabecalho {
    display: flex;
    width: 800px;
    flex-flow: row;
    align-items:center;
    align-content: space-between;
}

.im {
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 5px;
    padding-right: 20px;
    position: absolute;
    margin-top: 3px;
}

header{
    display: flex;
    width: 1345px;
    height: 104px;
    color: white;
    background-color: rgb(75, 77, 76);

};


button{
   display: flex;
}
#button-header {
    border: 1px blue;   
    border-radius: 5px;
    font-size: smaller;
    font-family: monotype cursive;
}

#option {
    background-color: rgb(205, 205, 238);
    font-family: cursive;
    font-size: medium;
    border-radius: 3px;
    border: 1px blue;
    color: rgb(53, 42, 42);
}

h1 {
    color: white;
    font-size: larger;
    font-family: cursive;
}

.container{
    display: flex;
    
}

.container ul {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    width: 400px;

}

ul {
    list-style-type: none;
}

.paragrafos {
    justify-content:space-between ;
    align-items: center;
    flex-flow: row wrap;
}

footer{
    display: flex;
    width: 1345px;   
}

.imagens-footer {
    display: flex;
    height: 35px;
    margin-right:20px;
    margin-left: 20px;
}

.container-footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    body{
        background-color: rgb(240, 180, 180);
    }
    .im {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        justify-content: flex-end;
        position: relative;
    }
    .container ul {
       flex-flow: column;
       align-items: flex-start;
       
    }
    .container-footer {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
 
    }
    .imagens-footer{
        margin-right:5px;
        margin-left: 5px;
    }

}

label {
    display: inline-block;
}

#tema-color{
    display: flex;
    padding: 10px;
    width: 550px;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content:flex-end;
}
#theme{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(75, 76, 77) ;
}






