body {
    display: flex;
    width: 1345px;
    background-color: rgb(219, 222, 231);
    
}

.imagem-perfil {
    flex-flow: column-reverse;
    align-items: flex-start;
    width: 65px;
    height: 50px;
    margin-top: 5px;
}

.nome {
    display: flex;
    align-items: center;
    width: 100px;
    height: 45px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'ubuntu';
}

.cabecalho {
    display: flex;
    width: 800px;
    flex-flow: row;
    align-items:center;
    align-content: space-between;
}

.im {
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 5px;
    padding-right: 20px;
    position: absolute;
    margin-top: 3px;
}

header{
    display: flex;
    width: 1345px;
    height: 104px;
    color: white;
    background-color: rgb(75, 77, 76);
    border-radius: 3px;

};


button{
   display: flex;
}
#button-header {
    border: 1px blue;   
    border-radius: 5px;
    font-size: smaller;
    font-family: monotype cursive;
    margin-right: 5px;
}
#button-header:hover {
    background-color: rgb(65, 60, 60);
    border-style: groove;
    color: white;
    
}

#option {
    display: flex;
    background-color: rgb(205, 205, 238);
    font-family: cursive;
    font-size: medium;
    border-radius: 3px;
    border: 1px blue;
    color: white;
    
}
option {
    display: flex;
    justify-content: center;
    color: white;
}

h1 {
    display: flex;
    color: white;
    font-size: larger;
    font-family: 'ubuntu';
    justify-content: center;
    align-items: center;
}

#info-button{
    width: 300px;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.dropdown-content {
  display: none;
  width: 275px;
  position: absolute;
  background-color: #333;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(110, 92, 92, 0.2);
  padding: 12px;
  z-index: 1;
}

.dropdown.active .dropdown-content {
    display: block;
}

aside {
    width: 400px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

h3 {
    color:rgb(99, 97, 212);
    font-size: medium;
    font-family: 'ubuntu';
}

.container{
    display: flex;
    
}

.container ul {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    width: 400px;

}

ul {
    list-style-type: none;
}

.paragrafos {
    justify-content:space-between ;
    align-items: center;
    flex-flow: row wrap;
}

footer{
    display: flex;
    width: 1345px;   
}

.imagens-footer {
    display: flex;
    height: 35px;
    margin-right:20px;
    margin-left: 20px;
}

.container-footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    body{
        background-color: rgb(240, 180, 180);
    }
    .im {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        justify-content: flex-end;
        position: relative;
    }
    .container ul {
       flex-flow: column;
       align-items: flex-start;
       
    }
    .container-footer {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
 
    }
    .imagens-footer{
        margin-right:5px;
        margin-left: 5px;
    }

}

label {
    display: inline-block;
}

.tema-color{
    display: flex;
    width: 550px;
    flex-flow: column;
    justify-content:space-between;
    align-items:flex-end;
    padding: 10px 10px;


}
#theme{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(75, 76, 77) ;
}
#tema {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(75, 76, 77) ;

}

#cadastro {
    display: flex;
    padding: 10px;
}

#dark-mode {
    padding: 10px 10px;
    font-size: 14px;
    background-color: #050505;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
.dark-mode{
    background-color: #333;
    color: #fff;
}






