/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Cabeçalho */
header {
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
    background-color: #050505;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Navegação no cabeçalho */
header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #333;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  margin-top: 30px;
}

.nav-link ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-link ul li a:hover {
    color: #003366;
}

.nav-link ul li a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Seção de apresentação */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    padding: 20px;
}


.section {
    padding: 40px 20px;
    text-align: center;
}

.container {
    text-align: left;
    margin-top: 50px; /* Define alinhamento à esquerda para todos os textos da div */
}

.container h1,
.container h2,
.container h3,
.container p {
    margin: 10px 0; /* Adiciona espaçamento entre os elementos */
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #050505;
}

.container h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #555;
}

.container p {
    font-size: 1.2em;
    max-width: 800px;
    color: #444;
}

/* Footer */
footer {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main_footer {
    display: flex;
    gap: 15px;
    justify-content: center;
    position: relative;
    bottom: 5px;
}

.footer-img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s;
}

.footer-img:hover {
    transform: scale(1.2);
}

.projects-frontend {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

.projects-backend {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header {
      margin-left: 3px;
      margin-right: 3px;
    }

    section {
        height: auto;
        padding: 40px 20px;
    }

    .container h1 {
        font-size: 2em;
    }

    .container h2 {
        font-size: 1.5em;
    }

    .container h3 {
        font-size: 1.2em;
    }

    .container p {
        font-size: 1em;
    }

    .profile-pic img {
      margin-top: 50px;
    }
    .container-skills {
      flex-direction: column;
      align-items: center;
    }
    .projects-backend, .projects-frontend {
      flex-direction: column;
      margin-top: 10px;
    }
}

.profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-picture {
    width: 190px;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 3px solid #0056b3;
}

.skill {
    font-weight: bold;
    color: #00244d;
    background-color: #b2b5df;
    padding: 8px 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.container-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.skills-container, #softskills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#softskills, #hardskills {
    background-color: #e0f0fa;
    border: 1px solid #004979;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
}

.about-content p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: start;
    margin-top: 10px;
}
