
h1{
    align-items: center;
    margin-left: 200px;
    font-size: 36px;
    color: #2fc18c;
}


#color-palette {
    display: flex;
    height: 135px;
    width: 410px;
    margin-left: 100px;
}

.color {
    display: flex;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 2px;
    align-items: center;
    padding: 15px;
    text-align: center;
    justify-content: center;

}

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    height: 210px;
    margin-left: 200px;
    margin-top: 20px;
    border: 1px solid black;
}
.pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
}

.clear-button {
    margin-top: 20px;
}

.yellow {
    background-color: rgb(161, 161, 37);
}

.blue {
    background-color: rgb(47, 47, 145);
}

.green {
    background-color: rgb(50, 128, 50);
}
.red {
    background-color: rgb(146, 50, 50);
}

.selected {
    transform: translateY(-20px);
}
 